@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Graphik Trial';
    src: url('/path/to/GraphikTrial-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }